<% provide :title, t("home.title") %>
<div class="center jumbotron">
  <h1><%= t "home.content_h1" %></h1>
  <h2><%= t "home.content_h2_html" %></h2>
  <%= link_to t("home.signup"), signup_url , class: "btn btn-lg btn-primary" %>
</div>
