<li>
  <%= gravatar_for user, size: Settings.avatar.size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to t("users.index.btn_delete"), user, method: :delete, data: {confirm: t("users.index.confirm_delete")} %>
  <% end %>
</li>
